<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8" />
    <style>
        body {
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <header>
        <h1>Pet Cam</h1>
        <h2>by therealsunnyxu</h2>
    </header>
    <article>
        <p>Here is the reset code you requested to reset your {{ field_name }}:</p>
        <h2>{{ reset_code }}</h2>
        <p>Do not share this with anyone other than yourself.
        </p>
    </article>
</body>

</html>